Package: com.miyou.lite
Name: MiYouLite
Depends: roothide (>= 1.0)
Version: 1.2.0
Architecture: iphoneos-arm64e
Description: Lite version - 防撤回 + 密友隐藏 (roothide)
Maintainer: MiYou
Author: MiYou
Section: Tweaks